body {
    background-color: black;
}

.page {
    margin-top: 75px;
    color:#e98208;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.clock {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
}

.clock-container {
    display: flex;
    flex-direction: row; /*item'lar sırasıyla soldan sağa hizalanır.*/
    justify-content:center; /* yatayda ortalamak için*/
}

.clock-items {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 22px;
    margin-right: 7px;
    display: flex;
    justify-content:center; 
    
}

